# Heading 1 Football Prediction

In [1]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [3]:
# read data 

data = pd.read_csv('premier_train_dataset.csv')

data.head()

#FTHG - full time home goals
#HTGD

,Unnamed: 0,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,FTHG,FTAG,FTR,HomeTeamLP,AwayTeamLP,HTFormPts,ATFormPts,HTGD,ATGD,MW,HTP,ATP
0,0,Charlton,Man City,0,0,0,4,0,H,18.0,18.0,0,0,0,0,1.0,0,0
1,1,Chelsea,West Ham,0,0,0,4,2,H,5.0,9.0,0,0,0,0,1.0,0,0
2,2,Coventry,Middlesbrough,0,0,0,1,3,A,14.0,12.0,0,0,0,0,1.0,0,0
3,3,Derby,Southampton,0,0,0,2,2,D,16.0,15.0,0,0,0,0,1.0,0,0
4,4,Leeds,Everton,0,0,0,2,0,H,3.0,13.0,0,0,0,0,1.0,0,0

In [4]:
data.describe()

,Unnamed: 0,HTGS,ATGS,HTGC,FTHG,FTAG,HomeTeamLP,AwayTeamLP,HTFormPts,ATFormPts,HTGD,ATGD,MW,HTP,ATP
count,6080.00000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,3039.50000,24.300164,24.405757,24.387500,1.522862,1.124671,10.362500,10.362500,6.248026,6.405592,0.275658,-0.134375,19.500000,25.835197,25.536842
std,1755.28915,16.932033,16.909822,16.292538,1.294758,1.114405,5.557533,5.557533,3.554292,3.520761,14.331825,14.251167,10.966758,18.635793,18.556316
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,-69.000000,-65.000000,1.000000,0.000000,0.000000
25%,1519.75000,11.000000,11.000000,11.000000,1.000000,0.000000,5.750000,5.750000,4.000000,4.000000,-7.000000,-8.000000,10.000000,11.000000,11.000000
50%,3039.50000,23.000000,23.000000,23.000000,1.000000,1.000000,10.500000,10.500000,6.000000,6.000000,0.000000,-1.000000,19.500000,23.000000,23.000000
75%,4559.25000,35.000000,35.000000,36.000000,2.000000,2.000000,15.250000,15.250000,9.000000,9.000000,6.000000,5.000000,29.000000,37.000000,37.000000
max,6079.00000,100.000000,96.000000,85.000000,9.000000,6.000000,18.000000,18.000000,15.000000,15.000000,70.000000,62.000000,38.000000,130.000000,127.000000